*{
    margin: 0;
    padding: 0;
}
.grycolor{
    color: rgb(51, 77, 80);
}
.labeldata{
    font-size: 22px;
    font-weight: 600;
    padding-right: 10px;

}
.notebook{
    background:  linear-gradient(to right, rgb(51, 77, 80), rgb(203, 202, 165));
    height: 100%;
    position: absolute;
    width: 100%;
    display: table;
}   
.naotebook-main{
    text-align: center;
}
#liparent{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}
#liparent input{
    background: transparent;
    border-bottom: 2px solid #ffffffbd;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
    
}
.headingbook{
    text-align: center;
    font-size: 50px;
    margin: 20px 0px;
    color: rgb(203, 202, 165);
}
#input{
    text-transform: uppercase;
}
.addbtn{
    padding: 15px 40px;
    border-radius: 10px;
    background: #ffffff57;
    border: none;
    box-shadow: 3px 4px 4px #7d7d7d7d;
    margin: 10px 20px 10px 0px;
    width: 150px;
    height: 40px;
}
.dtlbtm{
    padding: 15px 40px;
    border-radius: 10px;
    background: #ffffff57;
    border: none;
    box-shadow: 3px 4px 4px #7d7d7d7d;
    margin: 10px 0px 10px 20px;
    width: 150px;
    height: 40px;
}
#listBox{
    width: 90%;
    margin: 0 auto;
}
#listBox div{
    width: 50%;
    background: #ffffff9e;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
}

#listBox button{
    margin: 10px 10px 30px 10px;
    width: 125px;
    height: 33px;
    background: linear-gradient(to right, rgb(51, 77, 80), rgb(203, 202, 165));
    border: none;
    border-radius: 10px;
    color: white;
}

#listBox li{
    display: block;
    font-size: 20px;
    text-align: left;
    border-top: 2px solid #80808069;
    padding: 20px 0px;

}
.userinfo{
    display: flex;
    justify-content: space-evenly;
    color: rgb(100 117 107);
    text-transform: uppercase;
    padding: 10px 0px;
    background: #ffffff57;
    box-shadow: 3px 4px 4px #7d7d7d7d;
}
.userinfo-main{
    display: flex;
    justify-content: center;
    align-items: center;

}


.balanceamount{
    position: fixed;
    bottom: 40px;
    right: 40px;

}
















input:focus-visible{
    border: none;
    outline: none;
}



.form-main{
    /* background-image: url(./photo1.jpg); */
    height: 100vh;
    background: linear-gradient(to right, rgb(51, 77, 80), rgb(203, 202, 165));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form{

z-index: 111;

position: relative;

padding: 30px 20px;

background: #ffffff73;

width: 50%;
}
.form-sub{

}
.form-sub h1{
    
font-size: 50px;
    
margin-bottom: 20px;
    
text-align: center;
    
color: #282828;
}
.form-input{
    
display: flex;
    
flex-direction: column;
    
margin: 20px 0px;
}
.form-input label{
    
display: block;
    
margin-bottom: 10px;
    
font-size: 18px;
}
.form-input input{
    
height: 30px;
    
border-bottom: 2px solid #75818980;
    
border-left: none;
width: 100%;
border-right: none;
    
border-top: none;
    
background-color: transparent;
}

.foricon{
    position: relative;
}
.foricon i{
    position: absolute;
    right: 15px;
    top: 8px;

}
.forget{
   
    font-size: 12px !important;
    text-align: right;
    padding-top: 10px ;
}
.formsubmit{
    text-align: center;
}
.formsubmit button{
    background: linear-gradient(to right, rgb(51, 77, 80), rgb(203, 202, 165));
            border: none;
            width: 80%;
            border-radius: 10px;
           
            color: white;
}
.formsubmit button:hover{
    background:linear-gradient(to right, rgb(203, 202, 165),rgb(51, 77, 80));

}
.formsubmit button a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 0px;
}
.next{
    padding: 15px 30px;
    background-color: #ffffff73;
    color: black;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 10px;  
    display: inline-block;
    margin: 10px;  

}